.button {
  @include center;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
  &_s {
    padding: 6px 12px;
  }
  &_xs {
    padding: 4px 8px;
  }
  &_primary {
    color: $t-simple;
    background: $cl-primary-900;
  }
  &_secondary {
    background: $cl-secondary;
  }
  &_hovered_primary:hover {
    background: $cl-primary-hover;
  }
  &_hovered_secondary:hover {
    background: $cl-secondary-hover;
  }
  &_bordered_secondary {
    border: 1px solid $bg-secondary;
  }
  &_circle {
    border-radius: 50%;
  }
  & svg {
    margin-right: 4px
  }
  & span + svg {
    margin-right: 0;
    margin-left: 4px;
  }
}
