.text {
  color: $t-simple;
  &_primary {
    color: $t-primary;
  }
  &_secondary {
    color: $t-secondary;
  }
  &_tetriary {
    color: $t-tetriary;
  }
  &_xl {
    font-size: 19px;
    line-height: 28px;
  }
  &_l {
    font-size: 17px;
    line-height: 28px;
  }
  &_m {
    font-size: 15px;
    line-height: 24px;
  }
  &_s {
    font-size: 13px;
    line-height: 20px;
  }
  &_xs {
    font-size: 11px;
    line-height: 16px;
  }
  &_block {
    display: block;
  }
  &_bold {
    font-weight: 600;
  }
}
.title {
  &_xxl {
    font-size: 50px;
    line-height: 56px;
  }
  &_xl {
    font-size: 44px;
    line-height: 48px;
  }
  &_l {
    font-size: 36px;
    line-height: 40px;
  }
  &_m {
    font-size: 28px;
    line-height: 32px;
  }
  &_s {
    font-size: 24px;
    line-height: 28px;
  }
  &_xs {
    font-size: 20px;
    line-height: 24px;
  }
}
.link {
  color: $cl-primary-900;
  &_hovered_primary:link {
    color: $cl-primary-hover;
  }
}