@import 'variables.scss';
@import 'mixins.scss';
@import 'font.scss';
@import 'button.scss';
@import 'positioning.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: 0;
  outline: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}