@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin h-center {
  display: flex;
  justify-content: center;
}

@mixin v-center {
  display: flex;
  justify-content: center;
}

@mixin h-between {
  display: flex;
  justify-content: space-between;
}