.mb-8 {
  margin-bottom: 8px; 
}

.mb-16 {
  margin-bottom: 16px; 
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mr-16 {
  margin-right: 16px;
}

.row {
  display: flex;
}

.row_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  @include center;
}

.center_column {
  @include center_column;
}
